[Unit]
Description=KLIND OS Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=sh /klindosserver/scripts/startserver.sh

[Install]
WantedBy=multi-user.target