.bodyn {
    margin-top: 70px;
    height: calc(100vh - 70px - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bodyn h1 {
    font-size: 100px;
}
.bodyn h3 {
    font-size: 30px;
}
.bodyn .button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin-top: 15px;
    border-radius: 5px;
}